body, html {
    height: 100%;
}

.rnkHeader{
    background: #343a40;
    top: 0;
    width: 100%;
    height: 76px;
    
}

.container {
    padding: 0;
}

.imgLogo {
    height: 50px;
    object-fit: cover;
}

.container-fluid {
    padding: 0;
    min-height: 45px;
    margin-bottom: 0;
    left: 0;
}

.backSize{
    width: 99%;
    height: 91vh;
    margin: 0.5%;
    background-color: #e9e9e9;
    border-radius: 50px 500px 0px 50px;
}

.error{
    border-color: red;
}